<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tube</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>

    <!------------------Header---------------------------------->

    <header class="header">
        <nav class="nav">
            <div class="brand">
                <img src="./images/logo.png" alt="Logo" class="logo-img">
            </div>
            <div class="searchbar">
                <input class="searchbar-input" type="text" placeholder="Rechercher une vidéo...">
                <div class="search-icon">
                    <img src="./images/search-icon.png" alt="search-icon">
                </div>
            </div>
        </nav>
    </header>

    <!--------X---------Header---------------X------------------>



    <!------------------Main---------------------------------->

    <main>
        <div class="container">
            <div class="content">

                <!-- --------------Video player------------------------------>

                <div class="video-player">
                    <div class="player">
                        <video class="player-inner" src="./videos/video.mp4" controls></video>
                    </div>
                    <div class="video-infos">
                        <div class="video-author-avatar">
                            <img src="./images/author-img.png" alt="author-image">
                        </div>
                        <div class="video-details">
                            <div class="video-title">Minato à l'Akatsuki - The way of the ninja</div>
                            <div class="video-channel">Naruto way</div>
                            <div class="more-details flex-row">
                                <div class="video-views">240 vues</div>
                                <div class="video-date">il ya 4 jours</div>
                            </div>
                        </div>
                    </div>
                    <div class="video-player-separator">
                        <div class="separator"></div>
                    </div>
                </div>
                <!-- ----X---------Video player---------------X-------------->



                <!-- -------------Videos Playlist----------------------------->

                <div class="videos-playlist">
                    <div class="playlist-head">Voir aussi</div>
                    <div class="playlist">


                        <!------------------ Playlist item ------------------------>

                        <div class="video-item">

                            <div class="video-screen">
                                <img src="./images/videos-img.png" alt="video-image">
                                <div class="video-time">20:34</div>
                            </div>

                            <div class="video-infos">
                                <div class="video-title">Minato à l'Akatsuki - The way of the ninja</div>
                                <div class="video-channel">Naruto way</div>
                                <div class="video-views">240 vues</div>
                                <div class="video-date">il ya 4 jours</div>
                            </div>


                        </div> <!-- End of video-item -->

                        <!--------X--------- Playlist item -----------X------------>






                        <!------------------ Playlist item ------------------------>

                        <div class="video-item">

                            <div class="video-screen">
                                <img src="./images/videos-img.png" alt="video-image">
                                <div class="video-time">20:34</div>
                            </div>

                            <div class="video-infos">
                                <div class="video-title">Minato à l'Akatsuki - The way of the ninja</div>
                                <div class="video-channel">Naruto way</div>
                                <div class="video-views">240 vues</div>
                                <div class="video-date">il ya 4 jours</div>
                            </div>


                        </div> <!-- End of video-item -->

                        <!--------X--------- Playlist item -----------X------------>






                        <!------------------ Playlist item ------------------------>

                        <div class="video-item">

                            <div class="video-screen">
                                <img src="./images/videos-img.png" alt="video-image">
                                <div class="video-time">20:34</div>
                            </div>

                            <div class="video-infos">
                                <div class="video-title">Minato à l'Akatsuki - The way of the ninja</div>
                                <div class="video-channel">Naruto way</div>
                                <div class="video-views">240 vues</div>
                                <div class="video-date">il ya 4 jours</div>
                            </div>


                        </div> <!-- End of video-item -->

                        <!--------X--------- Playlist item -----------X------------>






                        <!------------------ Playlist item ------------------------>

                        <div class="video-item">

                            <div class="video-screen">
                                <img src="./images/videos-img.png" alt="video-image">
                                <div class="video-time">20:34</div>
                            </div>

                            <div class="video-infos">
                                <div class="video-title">Minato à l'Akatsuki - The way of the ninja</div>
                                <div class="video-channel">Naruto way</div>
                                <div class="video-views">240 vues</div>
                                <div class="video-date">il ya 4 jours</div>
                            </div>


                        </div> <!-- End of video-item -->

                        <!--------X--------- Playlist item -----------X------------>






                        <!------------------ Playlist item ------------------------>

                        <div class="video-item">

                            <div class="video-screen">
                                <img src="./images/videos-img.png" alt="video-image">
                                <div class="video-time">20:34</div>
                            </div>

                            <div class="video-infos">
                                <div class="video-title">Minato à l'Akatsuki - The way of the ninja</div>
                                <div class="video-channel">Naruto way</div>
                                <div class="video-views">240 vues</div>
                                <div class="video-date">il ya 4 jours</div>
                            </div>


                        </div> <!-- End of video-item -->

                        <!--------X--------- Playlist item -----------X------------>



                    </div><!-- End of playlist -->
                </div> <!-- End of Videos-playlist -->

                <!-- -----X-------Videos Playlist--------------X-------------->


            </div><!-- End of Content -->
        </div><!-- End of Container -->
    </main>

    <!--------X---------Main-----------------X---------------->


    <!------------------Footer---------------------------------->

    <footer class="footer">
        <p class="footer-text">Build by Oracions2410@gmail.com</p>
    </footer>

    <!--------X---------Footer-----------------X---------------->



</body>

</html>